.border-selector{
  border-left: 1px solid lightgrey;
  padding-left: 20px;
  margin-top: 5px !important;
}

.text-wrap{
  overflow-wrap: anywhere;
}

.table-container {
  height: 300px;
  max-height: 300px;
  max-width: 100%;
  overflow-y: auto;
}

.cargo-container{
  height: auto;
  max-height: 300px;
  max-width: 100%;
  overflow: auto;
}

.clickable-row{
  transition: ease-in-out .2s;
}
.clickable-row:hover{
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.heavy-round{
  border-radius: 20px !important;
}

#overlay{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  opacity: 1;

  svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-btn{
  width: auto;
  height: 50px;
  margin-top: 4px;
}

.title{
  font-size: medium;
  color: gray;
  text-align: center;
}

.icon-large {
  height: 30px !important;
  width: 30px !important;
  font-size: 30px !important;
  margin: 10px;
  color: white;
}

.clickable {
  cursor: pointer;
}


.btn-grad {
  //background-image: linear-gradient(to right, #2a00e9 0%, #0095ff  51%, #2a00e9  100%);
  background-color: #0095ff;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
}

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
 }

 .mat-icon {
  height: 17px !important;
  width: 17px !important;
  font-size: 17px !important;
  color: lightgray;
}
