<section class="h-100 position-relative">
  <!-- main container -->
  <div fxFlex fxLayout="column" class="container" fxLayoutGap="20px">
    <!-- top row -->
    <div fxLayout="column" fxLayoutAlign.lt-md="space-between center" fxLayoutGap="15px" fxLayoutAlign.gt-sm="flex-start">
      <mat-card class="w-100">
        <div>
          <h2 class="m-0 font-weight-light text-dark">Consulta por ruta</h2>
        </div>
        <mat-divider inset></mat-divider>
          <form #routeInput="ngForm" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="center" fxLayoutGap="10px" class="mt-4 w-100"
            (ngSubmit)="routeInput.valid? onSubmit(routeInput) : false;"><!-- routeInput.valid? _requestrouteData() : false; -->
              <div fxFlex="90">
                <mat-form-field class="w-100 p-0 m-0" appearance="outline" [hideRequiredMarker]="true">
                  <mat-label>No. de ruta</mat-label>
                  <input matInput type="text" ngModel name="routeID" #routeInputString="ngModel" required minlength="8" maxlength="8">
                  <span matSuffix class="text-muted">{{ _lenght(routeInputString.value) }} / 8</span>
                  <mat-error *ngIf="!routeInputString.hasError('required')">El ID es menor a 8 caracteres</mat-error>
                  <mat-error *ngIf="routeInputString.hasError('required')">Ingresa un ID válido</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>
                <button type="submit" mat-stroked-button class="form-btn text-dark">Buscar</button>
              </div>
          </form>
      </mat-card>
      <mat-card [hidden]="isHidden" class="w-100 mt-3">
        <div class="w-100 px-2 py-0" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-between center">
          <h3 class="m-0 font-weight-light">Paquetes de la ruta</h3>
          <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="15px">
            <h3 class="m-0 font-weight-light text-muted pr-2">Total de paquetes: <span class="text-dark font-weight-normal text-center"> {{totalItems}}</span></h3>
            <h3 class="m-0 font-weight-light text-muted">Costo: <span class="text-dark font-weight-normal text-center"> ${{shipCost}}.00</span></h3>
          </div>
        </div>
        <div class="table-container">
          <table mat-table matSort [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="entity_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID del paquete </th>
              <td mat-cell *matCellDef="let element" matRipple> {{element.entity_id}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" class="clickable-row"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons ></mat-paginator>
      </mat-card>
    </div>
    <!-- bottom row -->
    <p *ngIf="!cargo" class="text-center text-muted">Selecciona una ruta para mostrar la información</p>
    <div *ngIf="cargo" fxFlex="auto auto auto" fxLayout="column" fxLayoutGap="10px">
      <h2 class="text-muted mt-1 font-weight-light">Información de la ruta #{{ selectedRoute }}</h2>
      <div fxFlex="auto auto auto" fxLayout="column" fxLayoutGap="10px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between flex-start" >
        <mat-card class="w-100 h-100">
          <div>
            <h2 class="m-0 font-weight-light text-dark">Origen</h2>
          </div>
          <mat-divider inset></mat-divider>
          <h3 class="text-dark pl-3 pt-3 pb-1 m-0 lead font-weight-bold">Datos fiscales de origen</h3>
          <div class="container" fxLayout="column" fxLayoutGap="15px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between flex-start">
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">RFC</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.origin.fiscal_information.rfc? cargo.origin.fiscal_information.rfc: 'N/A' }}
              </p>
            </div>
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Nombre</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.origin.fiscal_information.full_name? cargo.origin.fiscal_information.full_name : "N/A"}}
              </p>
            </div>
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Clave del país</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.origin.fiscal_information.fiscal_residence? cargo.origin.fiscal_information.fiscal_residence : "N/A"}}
              </p>
            </div>
          </div>
          <h3 class="text-dark pl-3 pt-3 pb-1 m-0 lead font-weight-bold">Domicilio de origen</h3>
          <div class="container" fxLayout="column" fxLayoutGap="15px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between flex-start">
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Domicilio completo</p>
              <p class="p-0 pl-1 font-weight-light m-0 text-muted border-selector">{{cargo.origin.address.address_line}},
                Col. {{cargo.origin.address.neighborhood.name}},
                {{cargo.origin.address.city.name}},
                {{cargo.origin.address.state.name}},
                {{cargo.origin.address.country.name}}
              </p>
            </div>
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Código Postal</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.origin.address.zip_code? cargo.origin.address.zip_code : "N/A"}}
              </p>
            </div>
          </div>
        </mat-card>

        <mat-card class="w-100 h-100">
          <div>
            <h2 class="m-0 font-weight-light text-dark">Destino</h2>
          </div>
          <mat-divider inset></mat-divider>
          <h3 class="text-dark pl-3 pt-3 pb-1 m-0 lead font-weight-bold">Datos fiscales de destino</h3>
          <div class="container" fxLayout="column" fxLayoutGap="15px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between flex-start">
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">RFC</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.destination.fiscal_information.rfc? cargo.destination.fiscal_information.rfc : "N/A"}}
              </p>
            </div>
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Nombre</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.destination.fiscal_information.full_name? cargo.destination.fiscal_information.full_name : "N/A"}}
              </p>
            </div>
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Clave del país</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.destination.fiscal_information.fiscal_residence? cargo.destination.fiscal_information.fiscal_residence : "N/A"}}
              </p>
            </div>
          </div>
          <h3 class="text-dark pl-3 pt-3 pb-1 m-0 lead font-weight-bold">Domicilio de destino</h3>
          <div class="container" fxLayout="column" fxLayoutGap="15px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between flex-start">
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Domicilio completo</p>
              <p class="p-0 pl-1 font-weight-light m-0 text-muted border-selector">{{cargo.destination.address.address_line}},
                Col. {{cargo.destination.address.neighborhood.name}},
                {{cargo.destination.address.city.name}},
                {{cargo.destination.address.state.name}},
                {{cargo.destination.address.country.name}}
              </p>
            </div>
            <div fxLayout="column" class="text-wrap">
              <p class="m-0">Código Postal</p>
              <p class="p-0 pl-1 font-weight-light text-wrap m-0 text-muted border-selector">
                {{cargo.destination.address.zip_code? cargo.destination.address.zip_code : "N/A"}}
              </p>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card class="w-100 mb-2">
        <div>
          <h2 class="m-0 font-weight-light text-dark">Datos de mercancía</h2>
        </div>
        <mat-divider inset></mat-divider>
        <div class="cargo-container">
          <table mat-table matSort [dataSource]="cargoDataSource" class="w-100">
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
              <td mat-cell *matCellDef="let element" class="text-wrap"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="unit_code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave de unidad </th>
              <td mat-cell *matCellDef="let element"> {{element.unit_code}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="dimensions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dimensiones </th>
              <td mat-cell *matCellDef="let element">
                Alto: {{element.dimensions.height}}
                <br>
                Largo: {{element.dimensions.lenght}}
                <br>
                Ancho: {{element.dimensions.width}}
                <br>
                Peso: {{element.dimensions.weight}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="cargoColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: cargoColumns;"></tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- overlay -->
  <div *ngIf="isLoading" id="overlay">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#718ffe" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
      </circle>
    </svg>
  </div>
</section>

