<div class="welcome-backdrop"></div>
<div class="position-relative" fxLayout fxLayoutAlign="center center" class="w-100 h-100">
  <mat-card class="shadow-sm pt-0 px-3 w-25-custom">
    <div class="card-title shadow-sm mx-3 bg-grad mt-n-lg" fxLayout="column" fxLayoutAlign="center center">
      <h2 class="m-0 text-white">¡Bienvenido!</h2>
      <img src="../../../assets/img/Logo ACE.svg" alt="avatar" class="avatar">
    </div>

    <div class="container pb-4">
      <form #loginForm="ngForm" fxLayout="column" fxLayoutAlign="space-around center" class="w-100" fxLayoutGap="10px" (ngSubmit)="loginForm.valid? _onLogin(loginForm) : false">
        <mat-form-field class="w-100" appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Correo</mat-label>
          <input matInput type="email" ngModel name="email" required #emailInput="ngModel" email>
          <mat-error *ngIf="!emailInput.hasError('required')">La dirección de correo no es válida</mat-error>
          <mat-error *ngIf="emailInput.hasError('required')">Ingresa un correo válido</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline" [hideRequiredMarker]="true" required>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" ngModel name="password" required #passInput="ngModel" password>
          <mat-error *ngIf="passInput.hasError('required')">Ingresa una contraseña</mat-error>
        </mat-form-field>
        <button (click)="_onLogin(loginForm)" mat-stroked-button class="w-50">Acceder</button>
      </form>
    </div>

    <!-- <p class="text-center text-muted small">Al acceder se genera un token válido por 6 horas</p> -->
    <mat-divider inset></mat-divider>

    <div class="mt-2" fxLayout fxLayoutAlign="center">
      <mat-card-footer>
        <p class="text-muted small">© 2022 José Esquivel | All rights reserved</p>
      </mat-card-footer>
    </div>
  </mat-card>
</div>
