@import '../../../assets/helpers.scss';

@include md-and-down{
  .w-25-custom{
    width: auto !important;
  }
}

.w-25-custom{
  width: 25%;
}

.welcome-backdrop{
  height: 100%;
  width: 100%;
  //background-color: black;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/img/pexels-photoscom-93398_1_50.jpg');
  filter: blur(4px);
  -webkit-filter: blur(3px);
  background-attachment: fixed;
  position: absolute;
}

.heavy-round{
  border-radius: 20px !important;
}

.avatar {
  width: 150px;
  height: 150px;
  //border-radius: 50%;
  //background-color: lightgrey;
}

