.border-selector{
  border-left: 1px solid lightgrey;
  padding-left: 20px;
  margin-top: 5px !important;
}

.text-wrap{
  overflow-wrap: anywhere;
}

.table-container {
  height: 300px;
  max-height: 300px;
  max-width: 100%;
  overflow-y: auto;
}

.cargo-container{
  height: auto;
  max-height: 300px;
  max-width: 100%;
  overflow: auto;
}

.clickable-row{
  transition: ease-in-out .2s;
}
.clickable-row:hover{
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.heavy-round{
  border-radius: 20px !important;
}

#overlay{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  opacity: 1;

  svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-btn{
  width: auto;
  height: 50px;
  margin-top: 4px;
}

.title{
  font-size: medium;
  color: gray;
  text-align: center;
}
