
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MELI-Jose-primary: mat.define-palette(mat.$indigo-palette);
$MELI-Jose-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MELI-Jose-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MELI-Jose-theme: mat.define-light-theme((
  color: (
    primary: $MELI-Jose-primary,
    accent: $MELI-Jose-accent,
    warn: $MELI-Jose-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MELI-Jose-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }


.error.mat-snack-bar-container{
  //background-color: red;
  background-color: #f91313;
  background-image: linear-gradient(90deg, #f91313 0%, #ff3486 100%);
  color: white;
}

.success.mat-snack-bar-container{
  //background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  //background-color: #00e56a;
  //background-image: linear-gradient(90deg, #00e56a 0%, #00fca0 100%);
  background-color: #04d64f;
  background-image: linear-gradient(90deg, #04d64f 0%, #05e394 100%);
  color: white;
}

.card-title{
  border-radius: 5px;
  //margin-top: -2.5rem !important;
  //position: relative;
  padding: 10px;
}

.bg-grad{
  //background-image: linear-gradient(to right, #2a00e9 0%, #0095ff  51%, #2a00e9  100%);
  //background-color: #3b11ff;
  //background-image: linear-gradient(135deg, #3b11ff 0%, #3896ff 100%);
  background-color: #0048e9;
  background-image: linear-gradient(160deg, #0048e9 0%, #007cff 100%);
}

.mt-n-sm {
  margin-top: -1rem !important;
}
.mt-n-md {
  margin-top: -1.5rem !important;
}
.mt-n-lg {
  margin-top: -2.5rem !important;
}
